.test-gray {
	color: rgb(94,94,94);
	color: gray(40);
	color: rgb(94,94,94);
	color: gray(40 / 1);
	color: rgba(94,94,94,0.5);
	color: gray(40 / .5);
	color: rgb(94,94,94);
	color: gray(40 / 100%);
	color: rgba(94,94,94,0.5);
	color: gray(40 / 50%);
}

.test-invalid-gray {
	color: gray();
	color: gray(40, 1);
	color: gray(40 / 1 / 1);
}
